body {
  min-height: 100vh;
  margin: 50px auto;
  padding-left: 30px;
}

section {
  border:1px solid #ccc;
  width: 700px;
}

div {

  display: flex;
  max-width:100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  
  align-items: center;
}

header h2 {
  color: #111;
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -0.04em;
  line-height: 1.75em;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.tabela-tr {
  text-align: center;
  border-right: 0px solid #dddd;
  border-bottom: solid 1px #ddd;
  height: 55px;
}



.times {
  background-color: #fcfcfc;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  font-size: 17px;
  min-width: 100px;
  width: 220px;
}

.tabela-posicao {
  width: 25px;
}

.tabela-classificacao-tr {
  border-bottom: 1px solid #dddd;
  border-right: 0 solid #dddd;
  border-top: 1px solid #dddd;
  color: #999;
  font-family: Arial;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  height: 40px;
  line-height: 10px;
  text-transform: uppercase;
}

.tabela-nome-time {
  text-align: left;
  vertical-align: middle;
  line-height: 22px;
  font-size: 14px;
  color: #666;
  font-weight: bold;
  font-family: Arial;
  padding-left: 10px;
}

.libertadores {
  color: #003366;
  font-family: Arial;
  font-weight: bold;
  border-spacing: 0px;
  text-align: left;
  letter-spacing: -2px;
  line-height: 22px;
  box-sizing: inherit;
  height: 50px;
  padding-left: 8px;
}
.prelibertadores {
  color: #1398be;
  font-family: Arial;
  font-weight: bold;
  width: 150px;
  text-align: left;
  letter-spacing: -2px;
  line-height: 22px;
  padding-left: 8px;
}

.tabela-times-td {
  font-family: Arial;
  color: #de9800;
  text-align: left;
  letter-spacing: -2px;
  line-height: 22px;
  font-weight: bold;
  padding-left: 8px;
}

.tabela-times-meio-td {
  font-family: Arial;
  color: #cccccc;
  text-align: left;
  letter-spacing: -2px;
  line-height: 22px;
  font-weight: bold;
  padding-left: 8px;
}

.tabela-times-rebaixados-td {
  font-family: Arial;
  color: #c91b04;
  text-align: left;
  letter-spacing: -2px;
  line-height: 22px;
  font-weight: bold;
  padding-left: 8px;
}

.estatistica {
  font-size: 14px;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  overflow-x: overlay;
}

.estatistica-titulo {
  border-bottom: 1px solid #dddd;
  border-top: 1px solid #dddd;
  color: #999;
  font-family: Arial;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  height: 40px;
  line-height: 10px;
  text-transform: uppercase;
}

#tabela-coluna {
  text-align: center;

  font-size: 17px;
}

.tabela-head-coluna {
  padding: 0 21px;
  white-space: nowrap;
  line-height: 10px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: -0.3px;
  font-size: 11px;
}

.tabela-numeros-body {
  font-family: Arial;
  text-align: center;
  border-right: 0px solid #dddd;
  border-bottom: solid 1px #dddd;
  height: 55px;
}

.tabela-div-rodape {
  display: inline-block;
}

.tabela-rodape {
  display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tabela-rodape-opcoes {
  flex-wrap: nowrap;
    white-space: nowrap;
    padding-left: 5px;
}

.tabela-span1 {
  font-family: Arial;
  font-size: 10px ;
  line-height: 18px;
  margin-right: 10px;
  text-transform: uppercase;
}

.tabela-span2 {
  font-family: Arial;
  height: 9px;
  margin-right: 5px;
  width: 9px;
  display: inline-block;
  background-position-y: 2px;
  overflow: hidden;
}

.tabela-span3 {
  font-family: Arial;
  font-size: 14px ;
  margin-left: 3px;
  text-transform: uppercase;
  font-weight: bold;
}

.tabela-span4 {
  font-family: Arial;
  text-transform: lowercase;
  margin-left: 3px ;
  font-size: 12px;
}